*{
    box-sizing: border-box;
}

body{
    margin: auto;
    max-width: 1000px;
}

header, footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: blue;
    border: 1px solid rgb(253, 2, 2);
}

.content_wrapper{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav{
    width: 25%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: chartreuse;
    border-right: 1px solid white;
}

.content{
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: blueviolet;
}